<div class="container">
    <h1>Angular Components</h1>
    <h2>Sub header</h2>
    <app-post-form
        (onAdd)='updatePost($event)'
    ></app-post-form>
    <hr>
    <app-post
        *ngFor = 'let post of posts; let idx = index;'
        [post] = 'post'
        (onRemove)='removePost($event)'
    >
        <div #info>
            <small *ngIf='post.text.length > 10; else shortPost'>Too long post...</small>
            <ng-template #shortPost>
                <small>Short post</small>
            </ng-template>
        </div>
    </app-post>
</div>
